<h2>Please select a task to perform</h2>
<br />
<a asp-controller ="Events" asp-action="EventsView" class="btn btn-primary">Events</a>
<a asp-controller ="Venues" asp-action="VenuesView" class="btn btn-primary">Venues</a>
<a asp-controller ="Bookings" asp-action="BookingsView" class="btn btn-primary">Bookings</a>
<br />
